.cardGroup {
    width: 300px;
    height:320px;
    box-sizing: border-box;
    display: block;
    float: none;
    line-height: 24px;
    position: relative;
    z-index: auto;
}
.imageStyle {
    width: 300px;
    height: 160px;
}